# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are executed
*.auto.tfvars
*.auto.tfvars.json

# .tfplan files
*.tfplan

# Crash log files
crash.log

# Exclude sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude variable files
*.tfvars

# Exclude CLI configuration files
.terraformrc
terraform.rc
